<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/decision" method="POST">
        <input type="hidden" name="businessName" value="<%= businessName %>" />
        <%= businessName %>

            <input type="hidden" name="yearEstablished" value="<%= yearEstablished %>" />
            <%= yearEstablished %>

                <input type="hidden" name="loanAmount" value="<%= loanAmount %>" />
                <%= loanAmount %>

                    <input type="hidden" name="accountingProvider" value="<%= accountingProvider %>" />
                    <%= accountingProvider %>

                        <input type="hidden" name="preAssessmentValue" value="<%= preAssessmentValue %>" />
                        <%= preAssessmentValue %>


                            <% for(let entry of balanceSheet) { %>
                                <%= entry.year %>
                                    <% } %>
                                        <button type="submit">Submit</button>
    </form>

</body>

</html>